<header>
    <nav>
        <ul>
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Products</a></li>
            <li><a class="<%= path === '/admin/add-products' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
            <li><a class="<%= path === '/admin/users' ? 'active' : '' %>" href="/admin/users">Users</a></li>
            <li><a class="<%= path === '/admin/add-users' ? 'active' : '' %>" href="/admin/add-users">Add User</a></li>   
        </ul>
    </nav>
</header>